<% if I18n.locale == I18n.default_locale %>
  <p>There can't be missing translations for the main language</p>
<% elsif @missing_translations.empty? %>
  <p>There are no missing translations</p>
<% else %>
  <p>There are <%= @missing_translations.size %> missing translations in [<%= I18n.locale %>]. You can
  create them below and you can see the translation key and also the original
  content in the reference language [ <%= I18n.default_locale %> ]
  </p>
  <table id='missing_translations'>
    <thead>
      <tr class="header">
        <th>Key</th>
        <th>Value in [ <%= I18n.default_locale %> ]</th>
        <th>Your translation to [ <%= I18n.locale %> ]</th>
        <% if can? :destroy, Interpret::Translation %>
          <th>Delete</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @missing_translations.each do |trans| %>
        <tr>
          <td class="key"><%= trans[:key] %></td>
          <td><%= trans[:ref_value] %></td>
          <td>
            <%= form_for Interpret::Translation.new, :url => interpret_translations_path do |f| %>
              <%= render :partial => "form", :locals => {:key => trans[:key], :f => f}%>
            <% end %>
          </td>
          <% if can? :destroy, trans[:source] %>
            <td>
              <%= link_to "Destroy", interpret_translation_path(trans[:source].id, :locale => I18n.locale), :method => :delete, :confirm => "Are you sure?" %>
              the original [ <%= I18n.default_locale %> ] translation.
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
