<div id="interpret_container">
  <% if flash.any? %>
    <div class="interpret_flash <%= flash.keys.first %>">
      <%= flash[:notice] || flash[:alert] %>
    </div>
  <% end %>
  <%= render :partial => "menu" %>
  <div class="menu" id='languages_nav'>
    Languages:
    <% Interpret::Translation.available_locales.each do |locale| %>
      <% next unless can? :use, :"interpret_in_#{locale}" %>
      <% opts = {:locale => locale} %>
      <% opts[:key] = params[:key] if params[:key] %>
      <% opts[:value] = params[:value] if params[:value] %>
      <%= link_to Interpret::Locale.name(locale), opts %>
    <% end %>
  </div>
  <div id="sidebar">
    <%= yield :sidebar %>
  </div>
  <div id="interpret_main">
    <%= yield %>
  </div>
</div>

<%= interpret_parent_layout Interpret.layout%>
